/* Contoh styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-primary: "Inter", sans-serif; /* Nama font yang Anda install */
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-primary);
}
